*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db


/app/Http/Controllers/*
/app/Models/*

/database/migrations/2026_06_09_102100_create_tasks_table.php
/database/migrations/2026_06_09_122151_create_personal_access_tokens_table.php

/app/Providers/AppServiceProvider.php

/routes/api.php
/routes/web.php